body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container utama untuk dua kotak sejajar */
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* Gaya umum kotak */
.box {
    width: 45%;
    padding: 10px;
}

/* Kotak kucing */
.cat {
    background-color: aquamarine;
}

/* Kotak anjing */
.dog {
    background-color: coral;
}

/* Gambar di kiri, teks di kanan */
.box img {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 8px;
}

/* Footer di bawah */
.footer {
    background-color: purple;
    color: black;
    text-align: center;
    padding: 3px;
    margin-top: 2px;
    font-size: 12px;
}
